<div class="mt-2">
  <p class="text-sm font-bold mt-3">
    <%= link_to comment.user.name, user_path(comment.user) %>
    <span>さん</span>
  </p>
  <p class="mb-3">
    <span><%= comment.content %></span>
    <span>
      <% if comment.user == current_user %>
        <%= link_to post_comment_path(@post,comment), method: :delete, data: { confirm: "コメントを削除します。よろしいですか？" } do %>
          <i class="ml-4 far fa-trash-alt hover:text-orange-400"></i>
        <% end %>
      <% end %>
  </p>
</div>
