<div class="mt-2">
  <p class="text-sm font-bold mt-3">
    <%= link_to comment.user.name, user_path(comment.user) %>
    <span>さん</span>
  </p>
  <p class="mb-3">
    <%= comment.content %>
  </p>
</div>
