<li>
  <div class="max-w-xs rounded overflow-hidden border border-gray-300 shadow-md p-4">
    <%= image_tag 'ユーザー画像.png', class:"w-full" %>
    <div class="py-4 text-center">
      <%= link_to user.name, user, class:"block font-light text-md mb-4 text-gray-700" %>
      <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
          <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class:"mx-auto w-1/3 px-4 py-2 rounded border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white mt-3" %>
        <% else %>
          <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class:"mx-auto w-1/3 px-4 py-2 rounded border-2 border-blue-400 text-blue-400 hover:bg-blue-400 hover:text-white mt-3" %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
