  <span class="inline-block my-2 px-3 py-1 border border-green-600 rounded-full hover:text-white hover:bg-green-600">
    <%= link_to tag_path(tag) do %>
      <i class="fas fa-tag fa-xs fill-current text-gray-500"></i><%= tag.name %>
    <% end %>
  </span>
