<div class="mt-6">
  <h1 class="text-center text-xl font-base mb-4 text-gray-700">検索結果</h1>
  <p class="text-center text-md mb-4 text-gray-700">
    <%= @q.result.count %>件のタグが見つかりました
  </p>
  <div class="tags">
    <%= render @tags %>
  </div>

  <%= paginate @tags %>

  <div class="mt-6 mb-4">
    <%= link_to "戻る", :back, class:"text-lg font-light btn rounded-full bg-orange-500 hover:bg-orange-600" %>
  </div>
</div>
