<p><%= @resource.name %>様</p>

<p>この度は、ご登録いただき誠にありがとうございます。</p>
<p>以下のURLをクリックして、登録を完了してください。</p>

<p><%= link_to 'アカウントを有効化する', confirmation_url(@resource, confirmation_token: @token), class: "btn" %></p>
