<p><%= @resource.name %>様</p>

<p>パスワード変更の申請がされました。以下のリンクから行うことができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token), class: "btn" %></p>

<p>申請を行っていない場合、このメールは無視してください。</p>
<p>パスワードは、上記のリンクにアクセスして新しいパスワードを作成するまで変更されません。</p>
